div.novel-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-family: calibri;
}

div.novel-list {
    flex: 1;
    background-color: #fff2cd;
    overflow-y: auto;
}

div.novel-list div.novel-item {
    height: 30px;
    padding: 5px;
    text-indent: 10px;
    line-height: 30px;
    transition: all 0.2s ease;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.novel-list div.novel-item:hover {
    background-color: #fff;
}

div.op,
div.novel-title {
    height: 40px;
    display: flex;
    line-height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    background-color: #fade91;
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.novel-content {
    flex: 1;
    border: 0;
    padding: 20px 0;
    overflow: auto;
    position: relative;
}

div.loading {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #eeeeeeb9;
    box-shadow: 0 0 20px 0 #888;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 200px;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    animation: try-loading 0.5s ease infinite;
    text-shadow: 0 0 2px #333;
}
div.loading::before {
    content: "加载中...";
}

@keyframes try-loading {
    0% {
        color: #0f0;
        line-height: 200px;
    }
    50% {
        color: #fade91;
        line-height: 210px;
    }
    100% {
        color: #f00;
        line-height: 190px;
    }
}
div.novel-title {
    width: 100%;
    justify-content: center;
}

div.novel-title div.close {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
}
div.novel-title div.close:hover {
    color: white;
    background-color: #e1b742;
}

div.op div {
    flex: 1;
    transition: all 0.2s ease;
}

div.op div:hover {
    background-color: #f6d16e;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
}

div.login-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    transition: all 0.5s ease;
}
div.login-mask.success{
    top: -100vh;
}

div.login-mask div.login-detail {
    width: 200px;
    margin: 100px auto;
    border: 1px #ddd solid;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}
div.login-mask div.login-detail div.avatar {
    width: 160px;
    height: 160px;
    margin: 0 auto 10px;
}
div.login-mask div.login-detail div.row {
    display: flex;
    height: 40px;
    margin: 5px 0;
}
div.login-mask div.login-detail div.row input {
    flex: 1;
    width: 100%;
    border: 1px #efefef solid;
    outline: none;
    text-indent: 5px;
    border-radius: 5px;
}
div.login-mask div.login-detail div.row input[type="button"] {
    font-weight: bolder;
}
